language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  
matrix:
  allow_failures:
    - php: hhvm

before_script: composer install --prefer-source
script: phpunit --configuration phpunit.xml.dist

cache:
  directories:
    - vendor
