language: php

php:
  - 5.4
  - 5.5
  - hhvm

before_script:
  - composer install --prefer-source --dev

script:
  - ./vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml --group=Coverage
  - ./vendor/bin/phpcs --standard=PSR2 ./src/

after_script:
  - php vendor/bin/coveralls -v

cache:
  directories:
    - vendor
