language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
    - composer self-update
    - composer require satooshi/php-coveralls:dev-master --no-update --dev
    - composer install --prefer-source

script:
  - mkdir -p build/logs
  - phpunit --coverage-text
  - ./vendor/bin/phpcs src --standard=psr2

after_script:
  - php vendor/bin/coveralls

script: phpunit --configuration phpunit.xml.dist