language: php

sudo: false

cache:
  directories:
  - vendor

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  
matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm
  fast_finish: true

install:
  - travis_retry composer install --no-interaction --prefer-source

before_script:
  - cd examples/
  - composer install
  - cd public/
  - php -S localhost:7777 &
  - cd ../..

script:
  - vendor/bin/codecept run

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
  - git config --global user.email "travis@travis-ci.org"
  - git config --global user.name "TravisCI"
  - cp -R coverage ${HOME}/coverage
  - cd ${HOME}
  - git clone --quiet --branch=gh-pages https://${GITHUBTOKEN}@github.com/thephpleague/oauth2-server.git gh-pages > /dev/null
  - cd gh-pages
  - mkdir ${TRAVIS_BRANCH}
  - cd ${TRAVIS_BRANCH}
  - cp -Rf $HOME/coverage/* .
  - git add -f .
  - git commit -m "Travis pushed coverage of ${TRAVIS_COMMIT}@${TRAVIS_BRANCH} to gh-pages"
  - git push -fq origin gh-pages > /dev/null

branches:
  only:
    - master
    - v5

env:
  global:
    secure: "C4wD/BQefKSu9W594iyLp+IBCjlM8kKlmp+nXKXnZGi0L8IkV3m4mmNOb8PExxGMhZ3mlev5DnU4Uoh4oJaUxnkR1FpX4dSEpyzU3VknUzSE2yZOlL+bdCw3o85TGoCcp/+ReJCOw5sncxTskJKHlW1YMa33FznaXwLNoImpjTg="