includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	ignoreErrors:
		- '#(has|with) no (return )?typehint specified#'
		- '#Dynamic call to static method#'
		- '#Construct empty\(\) is not allowed#'
services:
	-
		class: LeagueTests\PHPStan\AbstractGrantExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
