<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnError="true"
         stopOnFailure="true"
>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>

  <testsuites>
    <testsuite name="Tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
